@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

// colors 
$maroon : #D87D4A;
$black : #010101;
$gray_1 : #F1F1F1 ;
$gray_2 :  #FAFAFA ; 
$rose :#fbaf85;

// font 
$manrope : 'Manrope', sans-seri; 